/* menu */

.menu {
    display: flex;
}

.menu-item {
    background: gold;
    /* flex-grow: 1; */
    width: 25%;
    transition: 0.5s;
}

.menu-item:hover {
    background: crimson;
    /* flex-grow: 1.5; */
    width: 35%;
}

.menu-link {
    display: block;
    padding: 1em;
    font-size: 1.2rem;
    font-weight: bold;
    color: #555;
    text-align: center;
}
.menu-link:hover {
    color: white;
}

/* search */

.search-form {
    display: flex;
}

.search-form input[type="search"] {
    flex: 1;
    /* flex: 1 1 auto; */
    font-size: 1rem;
    border-radius: 0.3em;
    margin-right: 10px;
    /* border: 0; */
}

.search-form input[type="submit"] {
    border-radius: 0.3em;
    background: gold;
    font-size: 1rem;
    /* width: 4; */
    border: 0;
}

/* bullet list */

.info-list {
    margin-bottom: 2rem;
}

.info-list-item {
    display: flex;
    margin: 0.5em 0;
}

.info-list-item:before {
    content: "⌘";
    margin-right: o.5em;
}